body {
    background-color:lightgray;
}

.inputs {
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

#txtBoxCity {
    height: 30px;
    border-radius: 7px;
    width: 300px;
    border: 2px solid black;
}

#btnWeather {
    height: 30px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: green;
    color: white;
}

#city_degree {
    font-size: 40px;
}
#city_humidity{
    font-size: 30px;
}
#city_text{
    font-size: 30px;
}


.outputs#icon {
    border: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 120px;
    width: 170px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.outputs {
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 15px;
    height: 450px;
    width: 400px;
    align-items: center;
    margin: 0 auto; /* Merkeze yerleştirmek için */
    margin-top: 50px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}